# Updated for Python 3.12 compatibility

astropy>=6.1.0
efficientnet-pytorch==0.7.1
fil-finder==1.7.2
matplotlib>=3.9.0
mpld3==0.5.9
numpy>=1.26.4
opencv-python-headless>=4.8.0
pandas>=2.0.3
Pillow>=10.0.0
plotly>=5.16.1
pretrainedmodels==0.7.4
pydicom>=2.4.3
PyYAML>=6.0.1
scikit-image>=0.22.0
scikit-learn>=1.4.0
scipy>=1.13.0
SimpleITK>=2.3.0
streamlit<=1.38.0
streamlit-drawable-canvas==0.9.3
streamlit-plotly-events==0.0.6
tifffile>=2023.7.10
timm>=0.9.6
torch>=2.2.0
torchvision>=0.17.0
tqdm>=4.61.1
pooch
gspread
google-auth
